.id-article-image-container {
  width: 100vw;
  height: 31.25em;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 7.5em;
}

.id-article-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
}

.id-article-info-overlay {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1.25em;
}

.id-article-title {
  color: white;
  font-size: 1.75em;
  font-weight: bold;
  margin-top: 9.25em;
}

.id-article-username,
.id-article-description {
  color: white;
  font-size: 1.125em;
  margin-top: 0.625em;
}

.id-article-body-container {
  width: 85%;
  margin: 0 auto;
  margin-top: 14em;
  padding: 2em;
  border: 0.013em solid #3A5A40;
  background-color: #DAD7CD;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.id-article-likes-container {
  display: flex;
  justify-content: center;
  margin-top: 3.125em; 
}
