.article-container {
  position: relative;
  justify-content: center;
}

.article-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-align: center;
  z-index: 1;
  margin: 0;
  padding: 10px;
  font-size: 35px;
}

.article-background {
  position: relative;
}

.article-image {
  max-width: 100%;
  height: 300px;
  padding-bottom: 60%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(15%); 
}
