.article-container {
  position: relative;
  justify-content: center;
}

.article-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-align: center;
  z-index: 1;
  margin: 0;
  padding: 10px;
  font-size: 35px;
}

.article-background {
  position: relative;
}

.article-image {
  width: 100%;
  border-radius: 5px;
  border: .2em solid #3A5A40;
  height: 300px;
  padding-bottom: 60%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(15%); 
}

div.article-image :hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
}