.game-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-title {
  text-align: center;
}

.game-description {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%
}