.forum-header {
  color: white;
  font-size: 3.75em;
  margin-top: 2em;
  font-family: 'Acme', sans-serif;
}

.forum-login {
    color: white;
    font-size: 1.625em;
    margin-top: 0.625em;
    padding: .75em;
    border-style: dotted;
    border-spacing: 10px;
    border-radius: 15px;
    background-color: #3A5A40;
    font-family: 'Acme', sans-serif;
}

.forum-list-item {
  border-style: solid;
  background-color: #3A5A40;
  padding: 2em;
  margin-bottom: 1em;
}

.forum-submit-btn {
  border: none;
  margin: 2px;
  cursor: pointer;
  color: #3A5A40;
  background-color: #3A5A40;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  color:white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 1em;
  font-family: 'Acme', sans-serif;
}