.background {
  background-color: #588157;
}

h1.games-header {
  font-family: 'Acme';
  display: flex;
  justify-content: center;
}

.games-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25em;
}

.games-list-container img {
  max-width: 18.75em;
  max-height: 18.75em;
  border-radius: 5px;
  margin: 0.625em;
  border: 0.013em solid #3A5A40;
}

.games-list-container img:hover {
  box-shadow: 0 0 0.313em rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
}
