.background {
  background-color: #588157;
}

h1.games-header {
  display: flex;
  justify-content: center;
  height: 200px;
  margin-bottom: 0;
  align-items: center;
  font-size: 3.125em;
  font-family: 'Acme', sans-serif;
}

.games-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25em;
  background-color: #3A5A40;
  padding: 15px;
}

.games-list-container img {
  max-width: 18.75em;
  max-height: 18.75em;
  border-radius: 5px;
  margin: 0.625em;
  border: 0.15em solid #588157;
}

.games-list-container img:hover {
  box-shadow: 0 0 0.313em rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
}
