.main-article-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25em; 
}

.main-article-item.home-full-width {
  grid-column: 1 / -1;
  grid-row: 1 / span 2;
}


.main-article-content {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 1.25em;
  background-color: #3A5A40;
  border-radius: 0.3125em; 
  height: 12.5em; 
}

.main-article-first {
  position: relative;
  background-color: #3A5A40;
  height: 25em; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.3125em; 
  overflow: hidden;
}

.article-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%);
}

.article-title {
  color: white;
  font-size: 1.5em; 
  font-weight: bold;
  margin-top: 0.625em; 
  text-decoration: none;
}

.article-link {
  text-decoration: none;
}

.home-article-content:hover {
  box-shadow: 0 0 0.3125em rgba(0, 0, 0, 0.5); 
  transform: scale(1.02);
}


