.main-article-background {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px); /* Adjust the blur amount as needed */
  z-index: 5;
}

.article-title {
  position: relative;
  z-index: 10;
  /* Additional styles for the article title */
}

.main-article-title {
  text-align: center;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
}

.article-item {
  padding: 20px;
  text-align: center;
  overflow: hidden;
}