header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  background-color: #3a5a40;
  color: white;
  z-index: 999;
  padding-left: 20px;
}

.logo {
  width: 130px;
  height: auto;
}

.user-text {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.nav-link {
  background-image: url('../../../src/images/LilyButton.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-decoration: none;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 82px;
  cursor: pointer;
}


.navbar-links {
  font-size: 24px;
  display: flex;
  margin-right: 1100px; 
  margin-left: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.button-container {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.login-btn,
.register-btn {
  font-size: 24px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url('../../../src/images/LilyButton.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
  width: 82px;
}

.logout-btn {
  font-size: 24px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url('../../../src/images/LilyButton.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 50px;
  width: 82px;
}


.login-btn:hover,
.register-btn:hover,
.logout-btn:hover {
  transform: scale(1.02);
}

body {
  margin-top: 80px;
} 
