.submit-article-title {
  display: flex;
  justify-content: center;
  font-size: 3em;
  text-align: center;
  font-family: 'Acme', sans-serif;
  height: 4em;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 20em;
  font-family: 'ABeeZee', sans-serif;
}

button {
  margin-top: 20px;
}